<div>
    <toolbar name="name" display-name="displayName" actions="ctrl.globalActions" user="ctrl.user"></toolbar>
    <div class="col-md-10" ng-show="ctrlE.status" ng-message="show">
        <div   class="alert alert-{{ctrlE.type}}" role="alert">
            <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ctrlE.type| uppercase}}</strong> {{ctrlE.msg}}
        </div>
    </div>   

    <div class="col-md-5" align="right">
        <button  class="btn btn-primary btn-lg" ng-click="checkout()" popover="Thanks" popover-trigger="mouseenter" popover-placement="bottom"> 
            <span class="glyphicon glyphicon-check" aria-hidden="true" ></span> Checkout </button>
    </div>
    <div class="col-md-5" align="left">
        <button  class="btn btn-warning btn-lg" ng-click="goToGallery()"> 
            <span class="glyphicon glyphicon-check" aria-hidden="true" ></span> Back Gallery </button>
    </div>


</div>